html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: white;
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

section {
  width: 100%;
  padding: 2rem;
  max-width: 800px;
}

p {
  font-size: 28px;
  line-height: 1.5;
  margin: 40px 0 0 0;
  color: #999;
}

p:first-of-type {
  margin-top: 0;
}
