html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  background: black;
  color: #999;
  font-size: 22px;
  line-height: 1.5;
}

button {
  font-family: 'Courier New', Courier, monospace;
}

a {
  color: white;
  text-decoration: underline;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

nav, footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

nav {
  border-bottom: 1px solid #333;
}

footer {
  flex-direction: column;
  padding: 2rem;
  gap: 1rem;
  border-top: 1px solid #333;
}

@media only screen and (max-width: 800px) {
  nav, footer {
    flex-direction: column;
    gap: 1rem;
  }
}

main {
  padding: 6rem 3rem;
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  flex: 1;
}

main section:first-child {
  flex: 1;
  padding-right: 3rem;
}

main section:last-child {
  flex: 2;
}

@media only screen and (max-width: 800px) {
  main {
    flex-direction: column;
    padding: 2rem;
  }

  main section:first-child {
    flex: 2;
    padding-right: 0;
    padding-bottom: 2rem;
  }
}

h1,
h2 {
  margin: 0;
  color: white;
}

section {
  width: 100%;
  margin: 0 auto;
  max-width: 880px;
  flex-direction: column;
  display: flex;
  gap: 1rem;
}

p, ul, ol {
  margin: 0;
  padding: 0;
}

hr {
  width: 100px;
  height: 1px;
  background: #333;
  border: none;
  width: 100%;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 28px;
  line-height: 1.5;
  transition: all 0.2s ease-in-out;
  color: white;
  padding: 0;
  text-decoration: underline;
}

.links {
  list-style: none;
}

footer a {
  display: inline-block;
  padding: 0;
  margin: 0 1rem 0 0;
}

.game-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin: 1rem auto;
}

.game-tile {
  padding: 20px;
  background: #454545;
  border-radius: 99px;
  position: relative;
}

.game-tile.pulse {
  background:rgba(255, 149, 238, 0.5);
  box-shadow: 0 0 0 0 rgba(255, 149, 238, 1);
  transform: scale(1);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 149, 238, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 149, 238, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 149, 238, 0);
  }
}

.game-tile > .tooltip {
  position: absolute;
  background: white;
  border-radius: 10px;
  color: black;
  box-shadow: 5px 5px 0 black;
  display: none;
  padding: 1rem;
  font-weight: bold;
  z-index: 1;
  min-width: 200px;
  max-width: 320px;
  font-size: 0.75rem;
  pointer-events: none;
}

.game-tile:hover > .tooltip {
  display: block;
}

.completed {
  background: #FF95EE;
}

button.disabled {
  border-radius: 99px;
  background: #222;
  color: #333;
  text-decoration: none;
  display: inline;
  padding: 15px;
}

.share-button {
  margin: 1rem;
  color: white;
}
