html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: black;
  color: #999;
}

a {
  color: white;
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

main {
  min-height: 100vh;
  padding: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 0;
  font-size: 3rem;
  font-weight: normal;
  text-transform: uppercase;
}

section {
  width: 100%;
  padding: 2rem;
  max-width: 800px;
  flex-direction: column;
  display: flex;
  gap: 2rem;
}

p {
  font-size: 28px;
  line-height: 1.5;
  margin: 0;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 28px;
  line-height: 1.5;
  transition: all 0.2s ease-in-out;
  color: white;
  padding: 0;
  text-decoration: underline;
}