html,
body {
  padding: 0;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  background: black;
  color: #999;
  font-size: 22px;
  line-height: 1.5;
}

button {
  font-family: "Courier New", Courier, monospace;
}

a {
  color: white;
  text-decoration: underline;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

nav,
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

nav {
  border-bottom: 1px solid #333;
}

nav strong {
  color: #ff95ee;
}

footer {
  flex-direction: column;
  padding: 2rem;
  gap: 1rem;
  border-top: 1px solid #333;
}

@media only screen and (max-width: 800px) {
  nav,
  footer {
    flex-direction: column;
    gap: 1rem;
  }
}

main {
  padding: 6rem 3rem;
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  flex: 1;
}

main section:first-child {
  flex: 1;
  margin-top: 3rem;
  padding-right: 3rem;
  position: relative;
}

main section:last-child {
  flex: 2;
}

@media only screen and (max-width: 800px) {
  main {
    flex-direction: column;
    padding: 2rem;
  }

  main section:first-child {
    flex: 2;
    padding-right: 0;
    padding-bottom: 2rem;
  }

  .chest {
    margin-left: -470px !important;
  }
}

h1,
h2 {
  margin: 0;
  color: white;
}

section {
  width: 100%;
  margin: 0 auto;
  max-width: 880px;
  flex-direction: column;
  display: flex;
  gap: 1rem;
}

p,
ul,
ol {
  margin: 0;
  padding: 0;
}

section > p,
section > div > p {
  margin-top: 1rem;
}

hr {
  width: 100px;
  height: 1px;
  background: #333;
  border: none;
  width: 100%;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 28px;
  line-height: 1.5;
  transition: all 0.2s ease-in-out;
  color: white;
  padding: 0;
  text-decoration: underline;
}

.links {
  list-style: none;
}

footer a {
  display: inline-block;
  padding: 0;
  margin: 0 1rem 0 0;
}

.chest {
  position: absolute;
  content: "";
  display: block;
  background: url('../public/chest_closed.png') top left;
  background-size: contain;
  background-repeat: no-repeat;
  left: 50%;
  top: -164px;
  margin-left: -502.5px;

  width: 940px;
  height: 940px;
}

.open {
  background: url('../public/chest_open.png') top left;
  background-size: contain;
  background-repeat: no-repeat;
}

.game-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.9rem;
  margin: 1rem auto;
}

.game-tile {
  padding: 20px;
  background: #454545;
  border-radius: 99px;
  position: relative;
  cursor: pointer;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.game-tile > .tooltip {
  position: absolute;
  background: white;
  border-radius: 10px;
  color: black;
  box-shadow: 5px 5px 0 black;
  display: none;
  padding: 1rem;
  font-weight: bold;
  z-index: 10;
  min-width: 200px;
  max-width: 320px;
  font-size: 0.75rem;
  pointer-events: none;
}

.game-tile:hover > .tooltip {
  display: block;
}

.completed {
  background: #ff95ee;
}

.completed:after {
  position: absolute;
  content: "";
  display: block;
  background: url('../public/lit_dot.png') top left;
  background-size: contain;
  background-repeat: no-repeat;
  left: 50%;
  top: 50%;
  margin-left: -38px;
  margin-top: -33px;

  width: 72px;
  height: 72px;
}

button {
  border-radius: 99px;
  text-decoration: none;
  display: inline;
  padding: 15px 30px;
  margin-top: 2rem;
  background: #ff95ee;
  color: black;
}

.active {
  background: rgb(247, 22, 209);
}

.pulse {
  background: rgba(255, 149, 238, 1);
  box-shadow: 0 0 0 0 rgba(255, 149, 238, 1);
  transform: scale(1);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.99);
    box-shadow: 0 0 0 0 rgba(255, 149, 238, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 20px rgba(255, 149, 238, 0);
  }

  100% {
    transform: scale(0.99);
    box-shadow: 0 0 0 0 rgba(255, 149, 238, 0);
  }
}

.disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.share-button {
  margin: 5rem 1rem 1rem;
  color: white;
  display: block;
  text-align: center;
  position: relative;
  z-index: 3;
}

pre {
  margin: 2rem 0 0;
  background: #333;
  color: #999;
  padding: 1rem;
  border-radius: 10px;
}
