.main {
  min-height: 100vh;
  padding: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: black;
  color: white;
}

.title {
  margin: 0;
  line-height: 3;
  font-size: 3rem;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
}
