.main {
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 3;
  font-size: 3rem;
  font-weight: normal;
  text-transform: uppercase;
}
